{% extends 'craigbot/base.html' %}
{% block content  %}
<div class="container">
<div class="card">
    <div class="card-header text-center">
    <h2>About CraigBot</h2>
    </div>
    <div class="card-body text-center">
        <ul>
            <li>Created and maintained by Zach Wiebesiek.</li>
            <li>Powered by Django.</li>
            <li>Rabbitmq and celery utilized for asynchronous tasks.</li>
        </ul>
    </div>
    <div class="card-footer text-center">
        <p>I can be reached at <a href="mailto:zwiebesiek@gmail.com">zwiebesiek@gmail.com</a></p>
    </div>
</div>
</div>
{% endblock content %}